svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 150 215")
	defs
		filter#mbo_triangle(x="-26" y="-6" width="150" height="215")
			feDropShadow(dx="0" dy="20" stdDeviation="11" flood-color="#000048" flood-opacity=".22")

	polygon(style="fill:#2f70f4;" filter="url(#mbo_triangle)" points="26 6 123 87 26 168 26 6")