// General style
	.simple-form{
		z-index: 2;
		position: relative;
		width: 100%;
		margin: 0 auto;
		margin-bottom: 20px;
		padding: 20px 28px 8px;
		padding-bottom: 8px;
		@include boxSizeFit;
		font-family: 'Apercu', sans-serif;
		text-align: right;
		background-color: #fff;
		@include drawShadow(5px, 2px, 50px, 5px, rgba(0,44,109,.24));
		@include transitions(1s);

		&:before, &:after{
			content: '';
			position: absolute;
			display: block;
			left: 0;
			right: 0;
		}
		&:before{
			top: -18px;
			border-right-color: transparent;
			border-right-style: solid;
			border-right-width: 16px;

			border-bottom-color: #fff;
			border-bottom-style: solid;
			border-bottom-width: 18px;
		}
		&:after{
			bottom: -18px;
			border-left-color: transparent;
			border-left-style: solid;
			border-left-width: 16px;

			border-top-color: #fff;
			border-top-style: solid;
			border-top-width: 18px;
		}

		.copy{
			position: relative;
			width: 100%;
			margin-bottom: 32px;
			font-size: 12px;
			line-height: 1.2em;
			font-weight: lighter;
			@include smoothFont;
			text-align: left;
			color: #0073f9;
			@include transitions(1s);

			a{
				color: #00145a;
				text-decoration: none;
			}
		}

		.inputs-wrapper{
			position: relative;
			text-align: left;

			.input-row{
				@include transitions(1s);

				.single-input{
					@include transitions(1s);
				}

				label{
					display: block;
					margin-bottom: 8px;
					font-size: 9px;
					color: #7d8eaa;

					&.required:after{
						content: '*';
						position: relative;
						display: inline-block;
						color: #f00;
					}
				}

				input, textarea{
					display: block;
					width: 100%;
					padding: 12px 18px;
					margin-bottom: 18px;
					border: 1px solid rgba(164,178,213,.5);
					font-size: 12px;
					color: #0073f9;
					@include boxSizeFit;
					@include input-placeholder-color(#a4b2d5);

					&:focus{
						outline: 0;
						border: 1px solid rgba(0, 85, 255, 0.5);
						box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 4px 10px 0 rgba(0, 0, 0, 0.04);
					}
				}

				textarea{
					max-width: 100%;
					min-width: 100%;
					height: 120px;
				}

				.triangle-container{
					display: none;
					position: absolute;
					width: 150px;
					height: 215px;
					top: -44px;
					left: -151px;
					@include transitions(1s);

					svg{
						width: 100%;
					}
				}
			}
		}

		.confidential{
			position: relative;
			margin-bottom: 25px;
			text-align: left;
			@include transitions(1s);

			p{
				margin: 0;
				font-size: 10px;
				color: #7d8eaa;
			}
		}

		#submit-contact-data{
			position: relative;
			padding: 0 22px;
			margin-top: 11px;
			margin-bottom: 11px;
			outline: 0;
			border: none;
			@include boxSizeFit;
			font-size: 14px;
			text-align: center;
			text-transform: uppercase;
			@include smoothFont;
			color: #fff;
			background-color: #0070f8;
			cursor: pointer;
			@include transitions(.4s);

			&:before, &:after{
				content: '';
				position: absolute;
				display: block;
				left: 0;
				right: 0;
				@include transitions(.4s);
			}
			&:before{
				top: -11px;
				border-right-color: transparent;
				border-right-style: solid;
				border-right-width: 11px;

				border-bottom-color: #0070f8;
				border-bottom-style: solid;
				border-bottom-width: 11px;
			}
			&:after{
				bottom: -11px;
				border-left-color: transparent;
				border-left-style: solid;
				border-left-width: 11px;

				border-top-color: #0070f8;
				border-top-style: solid;
				border-top-width: 11px;
			}

			&:hover{
				background-color: #3c7cff;

				&:before{
					border-bottom-color: #3c7cff;
					border-right-width: 0;
				}
				&:after{
					border-top-color: #3c7cff;
					border-left-width: 0;
				}
			}
		}
	}


// Responsiveness
	// Tablet (min-width: 768px) and (max-width: 1024px)
	@media screen and (min-width: 768px) {
		.simple-form{
			padding-left: 40px;
			padding-right: 40px;
			margin-bottom: 85px;
			text-align: left;

			.copy{
				font-size: 14px;
			}

			.inputs-wrapper{
				.input-row{
					position: relative;
					width: 100%;

					.single-input{
						position: relative;
						display: inline-block;
						width: 50%;
						@include boxSizeFit;

						&:first-child{
							padding-right: 10px;
						}
						&:last-child{
							padding-left: 10px;
						}
					}

					label{
						font-size: 11px;
					}

					input,textarea{
						font-size: 14px;
					}
				}
			}

			.confidential{
				display: inline-block;
				width: 75%;

				p{
					font-size: 11px;
				}
			}

			#submit-contact-data{
				float: right;
			}
		}
	}

	// Small desktop screens and laptops (min-width: 1025px) and (max-width: 1399.8px)
	@media screen and (min-width: 1025px) {
		.simple-form{
			max-width: 946px;
			padding: 40px 80px;

			.inputs-wrapper {
				.input-row {
					input, textarea{
						margin-bottom: 30px;
					}
				}
			}
		}
	}

	// Fix for form triangle pointing input
	@media screen and (min-width: 1100px){
		.simple-form{
			.inputs-wrapper{
				.input-row{
					.triangle-container{
						display: block;
					}
				}
			}
		}
	}

	// Desktop
	@media screen and (min-width: 1400px){
		.simple-form{
			margin-bottom: 75px;

			.copy{
				font-size: 20px;
				margin-bottom: 47px;
			}

			.inputs-wrapper{
				.input-row{
					label{
						font-size: 12px;
					}

					input, textarea{
						font-size: 16px;
					}
				}
			}

			#submit-contact-data{
				font-size: 16px;
				padding-left: 24px;
				padding-right: 24px;
			}
		}
	}