// General style
	.form-division{
		position: relative;
		width: 33px;
		height: 1px;
		margin: 0 auto;
		margin-bottom: 20px;
		background-color: #fff;
	}

	.simple-form{
		z-index: 2;
		position: relative;
		width: 100%;
		margin: 0 auto;
		margin-bottom: 20px;
		padding: 20px 28px 8px;
		padding-bottom: 8px;
		@include boxSizeFit;
		font-family: 'Apercu', sans-serif;
		text-align: right;
		background-color: #fff;
		@include drawShadow(5px, 2px, 50px, 5px, rgba(0,44,109,.24));
		// @include drawShadow(8px, 8px, 16px, 0, rgba(0,44,109,.24));

		&:before, &:after{
			content: '';
			position: absolute;
			display: block;
			left: 0;
			right: 0;
		}
		&:before{
			top: -18px;
			border-right-color: transparent;
			border-right-style: solid;
			border-right-width: 16px;

			border-bottom-color: #fff;
			border-bottom-style: solid;
			border-bottom-width: 18px;
		}
		&:after{
			bottom: -18px;
			border-left-color: transparent;
			border-left-style: solid;
			border-left-width: 16px;

			border-top-color: #fff;
			border-top-style: solid;
			border-top-width: 18px;
		}

		.copy{
			position: relative;
			width: 100%;
			margin-bottom: 32px;
			font-size: 12px;
			line-height: 1.2em;
			color: #0073f9;
			text-align: left;

			a{
				color: #00145a;
				text-decoration: none;
			}
		}

		.inputs-wrapper{
			position: relative;
			text-align: left;

			.input-row{
				.single-input{
					label{
						display: block;
						margin-bottom: 8px;
						font-size: 9px;
						color: #7d8eaa;

						&.required:after{
							content: '*';
							position: relative;
							display: inline-block;
							color: #f00;
						}
					}

					input, textarea{
						display: block;
						width: 100%;
						padding: 12px 18px;
						margin-bottom: 18px;
						border: 1px solid rgba(164,178,213,.5);
						font-size: 12px;
						color: #0073f9;
						@include boxSizeFit;
						@include input-placeholder-color(#a4b2d5);
					}

					textarea{
						height: 120px;
					}
				}
			}
		}

		#submit-contact-data{
			position: relative;
			padding: 2px 22px;
			margin-top: 20px;
			margin-bottom: 12px;
			outline: 0;
			border: none;
			@include boxSizeFit;
			font-size: 14px;
			text-align: center;
			text-transform: uppercase;
			color: #fff;
			background-color: #0070f8;
			cursor: pointer;
			@include transitions(.4s);

			&:before, &:after{
				content: '';
				position: absolute;
				display: block;
				left: 0;
				right: 0;
				@include transitions(.4s);
			}
			&:before{
				top: -11px;
				border-right-color: transparent;
				border-right-style: solid;
				border-right-width: 11px;

				border-bottom-color: #0070f8;
				border-bottom-style: solid;
				border-bottom-width: 11px;
			}
			&:after{
				bottom: -11px;
				border-left-color: transparent;
				border-left-style: solid;
				border-left-width: 11px;

				border-top-color: #0070f8;
				border-top-style: solid;
				border-top-width: 11px;
			}

			&:hover{
				background-color: #3c7cff;

				&:before{
					border-bottom-color: #3c7cff;
					border-right-width: 0;
				}
				&:after{
					border-top-color: #3c7cff;
					border-left-width: 0;
				}
			}
		}
	}


// "InView" animation style
// .contact-section{
// 	.contact-triangles-bg .inview-children-peek{
// 		opacity: 0;
// 		@include translate(-120px, 0);

// 		&.active{
// 			opacity: .4;
// 			@include translate(0, 0);
// 		}
// 	}

// 	.intro-title.inview-children, .intro-description.inview-children, .form-division.inview-children, .narrated-form .inview-children-peek{
// 		opacity: 0;
// 		@include translate(0, 20px);

// 		&.active{
// 			@include translate(0,0);
// 			opacity: 1;
// 		}
// 	}
	
// }