doctype html
html(class='no-js')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible' content='IE=Edge,chrome=1')
		meta(name='viewport', content='shrink-to-fit=no, initial-scale=1.0, minimum-scale=1, width=device-width, height=device-height')
		title TGP Scorecard | Modrn Businss Opportunities

		//- metatags
		meta(name='description', content='Get ©The Gents Place full report on why is a good Franchise Opportunity, approved by Modrn Businss and shared on Episode 01 of Modrn Businss Opportunities. Modrn Businss is a multi-media platform dedicated to evangelizing entrepreneurship, franchising, and great business technologies.')
		meta(name='keywords' content='Modrn Businss, Modern Business, Franchising, B2B, Technology, Entrepreneurship, Entrepreneur, Modrn, Businss, Modern, Business, Multi, Media, Content, Franchise, Franchisor, Franchisee, Brands, Education, Grow, Goals, Achieve, Success, American Dream, Business Opportunities, Value, Competition, IFA, International Franchise Association')
		meta(name='subject', content='The Gents Place, TGP, Franchising, B2B Technology, Entrepreneurship')
		meta(name='designer' content='Mandelbrot Studio')
		meta(property="og:title" content="Get the full report of ©The Gents Place")
		meta(property="og:site_name" content="Modrn Businss Opportunities")
		meta(property="og:url" content="https://www.modrnbusiness.com/TGP")
		meta(property="og:description" content="Get ©The Gents Place full report on why is a good Franchise Opportunity, approved and shared on Episode 01 of Modrn Businss Opportunities. Modrn Businss is a multi-media platform dedicated to evangelizing entrepreneurship, franchising, and great business technologies.")
		meta(property="og:type" content="website")
		meta(property="og:locale" content="en_US")
		meta(property="og:image" content="https://www.modrnbusiness.com/img/brand/mb_share_graph.png")
		meta(name="twitter:card" content="summary_large_image")
		link(rel="apple-touch-icon" href="apple-touch-icon.png")
		link(rel="icon" type="image/png" href="favicon.png")

		//- stylesheets
		link(rel='stylesheet', href='css/app.css')

		//- Google Analytics Tags
		script(async src="https://www.googletagmanager.com/gtag/js?id=UA-128636577-1")
		script.
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			
			gtag('config', 'UA-128636577-1');
        

	body
		//- header
		

		//- content
		#main-wrapper
			block content

		//- scripts
		script(src='js/app.js')
		script.
			require('js/initialize');