extends views/layout.jade

block content
	header.nav-header
		.logo-wrapper.fade-out
			include includes/mb_opportunities_logo.jade

		.visit-site.fade-out
			a(href="https://modrnbusiness.com/" target="_blank") Go to the site

	section.landing-wrapper
		.cta-container
			h1.copy.fade-out Opportunity Review:

			figure.logo-wrapper.fade-out
				include includes/tgp_logo.jade


		//- form#contact-form.simple-form.fade-out(name="main-contact-form" action="mail.php" method="POST" enctype="multipart/form-data")
		form#contact-form.simple-form.fade-out
			#request-wrapper
				h2.copy.fade-out Single and multi-unit opportunities available in prime markets

				.inputs-wrapper
					.input-row
						.single-input.fade-out
							label.required(for="contact-name") First Name
							input#contact-name(name="name" type="text" placeholder="Your Name" required)
							figure.triangle-container.fade-out
								include includes/triangle-dropshadow.jade

						.single-input.fade-out
							label.required(for="contact-lastname") Last Name
							input#contact-lastname(name="lastname" type="text" placeholder="Your Last Name" required)
					
					.input-row
						.single-input.fade-out
							label.required(for="contact-cellphone") Cell Phone
							input#contact-cellphone(name="cellphone" type="text" placeholder="Your Cell Phone" required)

						.single-input.fade-out
							label.required(for="contact-email") Email
							input#contact-email(name="email" type="email" placeholder="Your Email" required)

					.input-row.fade-out
						label(for="contact-feedback") Tell us about yourself
						textarea#contact-feedback(name="message" type="text" required)

				.confidential.fade-out
					p All the information provided will be kept strictly confidential.

				button#submit-contact-data.mb-button.fade-out(type="submit") Request

			.answer-wrapper
				//- h2 Here’s to you!
				//- p Many thanks for your interest. We will get back with you soon to define expectations and next steps. Cheers
				//- a.mb-button(href="https://modrnbusiness.com/") Visit Full Site


	footer.footer-links.fade-out
		ul.media-list
			li.channels-list
				a.link-hover-shift(href="https://itunes.apple.com/us/podcast/modern-business/id1323641416?mt=2" target="_blank")
					span.hover-mask
						span.hover-container(fx-text="iTunes") iTunes

			li.channels-list
				a.link-hover-shift(href="https://soundcloud.com/modernbusiness/" target="_blank")
					span.hover-mask
						span.hover-container(fx-text="Soundcloud") Soundcloud

			li.channels-list
				a.link-hover-shift(href="https://www.stitcher.com/podcast/ryan-hicks/modern-business" target="_blank")
					span.hover-mask
						span.hover-container(fx-text="Stitcher") Stitcher

			li.channels-list
				a.link-hover-shift(href="https://overcast.fm/itunes1323641416/modern-business" target="_blank")
					span.hover-mask
						span.hover-container(fx-text="Overcast") Overcast

			li.channels-list.no-link Spotify
			li.channels-list.no-link 
				a.link-hover-shift(href="https://medium.com/@ryanthomashicks" target="_blank")
					span.hover-mask
						span.hover-container(fx-text="Medium") Medium

			li.channels-list.no-link Apple Tv
			li.channels-list.no-link Amazon Prime
			li.channels-list.no-link Youtube


		ul.rrss-list
			li#fb-li.icon-listed
				a.link-hover-shift(href="https://www.facebook.com/ModernBusinessPodcast/" target="_blank")
					span.hover-mask
						span.hover-container(fx-text="")
							i#fb-icon.fab.fa-facebook-f

			li#ig-li.icon-listed
				a.link-hover-shift(href="https://www.instagram.com/ryanthomashicks/" target="_blank")
					span.hover-mask
						span.hover-container(fx-text="")
							i#ig-icon.fab.fa-instagram

			li#in-li.icon-listed
				a.link-hover-shift(href="https://www.linkedin.com/in/ryanthomashicks/" target="_blank")
					span.hover-mask
						span.hover-container(fx-text="")
							i#in-icon.fab.fa-linkedin-in

		figure.legals-division

		.legals-footer
			p.legal-text.brand-copyright ©2018 ModrnBusinss Inc.  All Right Reserved
			p.legal-text.studio-copyright 
				a(href="https://mandelbrot.mx/" target="_blank") Designed & Developed by ®Mandelbrot Studio

	
	figure.bg-bar.fade-out