extends views/layout.jade

block content
	section.landing-wrapper
		header.nav-header.listen-inview
			.logo-wrapper.inview-children
				//- img(src="", alt="Modrn Businss Opportunites", title="Modrn Businss Opportunites")

			.visit-site.inview-children
				a(href="#") Go to the site


		.listen-inview
			h3.intro-title.h2.inview-children For more information on The Gents Place Franchise Opportunity:

			figure.logo-wrapper.inview-children
				//- img(src="", alt="The Gents Place", title="The Gents Place")

		form#contact-form.narrated-form.listen-inview(name="main-contact-form" action="mail.php" method="POST" enctype="multipart/form-data")
			.narrated-line.inview-children-peek
				label.h3.regular-text(for="contact-name") Hi, my name is
				input#contact-name.narrated-input(name="name" type="text" placeholder="Your Name" required)
				span.h3.regular-text ,

			.narrated-line.inview-children-peek
				label.h3.regular-text(for="contact-cellphone") my phone number is
				input#contact-cellphone.narrated-input(name="cellphone" type="text" placeholder="Your Cellphone" required)
				span.h3.regular-text ,

			.narrated-line.inview-children-peek
				label.h3.regular-text(for="contact-email") please send the scorecard to
				input#contact-email.narrated-input(name="email" type="email" placeholder="this Email" required)
				span.h3.regular-text .

			.narrated-line.inview-children-peek
				label.h3.regular-text(for="contact-message") I have a message for you,

			.narrated-line.inview-children-peek
				textarea#contact-message.narrated-input(name="message" type="text" placeholder="Your Message" cols="30" rows="1" required)

			button#submit-contact-data.brand-btn.md-btn.dark-blue.inview-children-peek(type="submit") Request